.footer {
    background-color: black;
    border: 4px solid #FFF200;
    box-shadow: 10px 10px black;
    color: #FFF200;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    min-width: fit-content;
    padding: 3px 5px;
    position: relative;
    width: fit-content;
}