.main-section {
    background-color: white;
    border: 0.3em solid black;
    margin: 3em 4em;
    padding: 1em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-width: fit-content;
}

.main-section h2 {
    font-size: 1.5em;
    padding: 0em 0.5em 0em 0.5em;
}

.main-section p {
    font-size: 1em;
    padding: 0.5em;
}

.main-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#main-figure {
    align-self: center;
}

#main-figure img {
    border-radius: 0.3em;
}

#main-figure img:hover {
    box-shadow: 0.5em 0.5em black;
    transition: all 0.2s;
}

.main-p {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    width: 25em;
}

.main-about {
    font-size: 1.2em;
}

.main-p p {
    text-align: justify;
}

.main-button {
    background-color: black;
    cursor: pointer;
    align-self: center;
    width: 10em;
    display: inline-block;
    padding: 1em 0;
    border-radius: 0.4em;
    margin: 0 0.3em 1em 0.3em;
    box-sizing: border-box;
    color: white;
}

.main-button:hover {
    background-color: #B5FF47;
    border: 0.05em solid black;
    box-shadow: 0.5em 0.4em black;
    color: black;
    transition: all 0.2s ease-in;
}

#one {
    box-shadow: 10px 8px #FFF200;
}

#one:hover {
    box-shadow: 10px 8px #FFF200, 20px 18px black;
}

#two {
    box-shadow: 10px 8px #b300b3;
}

#two:hover {
    box-shadow: 10px 8px #b300b3, 20px 18px black;
}

#three {
    box-shadow: 10px 8px #004efe;
}

#three:hover {
    box-shadow: 10px 8px #004efe, 20px 18px black;
}

