.slider-wrapper {
    overflow: hidden;
    position: relative;
}

.slides-container {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    max-width: 980px;
    overflow: scroll;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    width: 100%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* WebKit */
.slides-container::-webkit-scrollbar { 
    height: 0;
    width: 0;
}

#slider-button-one {
    background-color: #B300B3;
    border: 0.1em solid black;
}

#slider-button-two {
    background-color: #B5FF47;
    border: 0.1em solid black;
    color: black;
}

.slide {
    flex: 1 0 100%;
}

.slide-element {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.slide-arrow {
    background-color: #FFF200;
    border: 0.1em solid black;
    border-radius: 2rem;
    bottom: 0;
    cursor: pointer;
    font-size: 1rem;
    height: 4rem;
    margin: auto;
    top: 0;
    position: absolute;
    width: 2rem;
}

#slide-arrow-prev {
    box-shadow: 0.3em 0.2em black;
    left: 0;
    padding-left: 0.25rem;
}

#slide-arrow-prev:hover {
    background-color: black;
    border: 0.2em solid white;
    color: white;
    transition: all 0.14s;
}

#slide-arrow-next {
    box-shadow: -0.3em 0.2em black;
    padding-left: 0.75rem;
    right: 0;
}

#slide-arrow-next:hover {
    background-color: black;
    border: 0.2em solid white;
    color: white;
    transition: all 0.14s;
}

#ubirits, #copy-tunes {
    margin: 1em 1em 1em 4em;
    padding: 1em;
}

