body {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 670px) {
    .recent-image {
        display: none;
    }
    .slide-element div {
        width: 15em;
    }
    .slider-button {
        width: 5em;
        height: auto;
    }
    #slides-container {
        height: 100%;
    }
}

